a { color: #0069E1; text-decoration: none; }
a:hover { color: #FF9900; }
blockquote { 
	margin-top: 0px; 
	margin-bottom: 12px;
	margin-right: 0px; 
}
ol { 
	margin-top: 0px; 
	margin-bottom: 9px;
	list-style-type: decimal; 
}
ul  
{
    
	margin-top: 0px; 
	margin-bottom: 9px; 
	list-style-type: square; 
}
li { padding: 0px 0px 6px; }
textarea { font-size: 10pt; }

.word04 { font-size: 4pt; }
.word06 { font-size: 6pt; }
.word08 { font-size: 8pt; }
.word09 { font-size: 9pt; }
.word10 { font-size: 10pt; }
.word11 { font-size: 11pt; }
.word12 { font-size: 12pt; }
.word14 { font-size: 14pt; }
.word16 { font-size: 16pt; }

.main_link { color: #FFFFCC; }
a.top_link { color:Red; }
a.eng { 
	color: #80B5B5; 
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	text-decoration: none; 
}
a.eng:hover { color: #FFCC00; }
a.m_ln { 
	color: #FFFFCC; 
	font-size: 10pt; 
	text-decoration: none; 
}
a.m_ln:hover { color: #FFCC00; }
.left_bar { padding-bottom: 12px; }
.menu { 
	font-size: 11pt; 
	color: #80B5B5; 
}
.menu .tit { 
	padding: 6px 0px 12px; 
	color: #184F4F; 
	font-weight: bold; 
}
.menu a { 
	padding: 6px 0px 6px; 
	display: block; 
	color: #FFFFFF; 
	background-color: transparent; 
	text-decoration:none; 
}
.menu a:hover { 
	color: #FFA500; 
	
}
.sub_link_m { border-bottom: #CDD397 1px solid; padding: 6px 0px 3px 4px; }
.sub_link { line-height: 18px; }
.sub_link a { color: #CC0000; text-decoration: none; }
.sub_link a:hover { color: #009900; }
.cont { padding: 12px 0px 0px; }
p.tit1 { 
	color: #000000; 
	font-size: 12pt; 
	font-weight: bold; 
	background-image: URL("../images/icon-1.gif"); 
	background-repeat: no-repeat; 
	background-position: 0px 0px; 
	padding: 0px 0px 0px 23px; 
	margin-bottom: 12px; 
}
p.tit2 { 
	color: #4C8080; 
	font-size: 13px; 
	font-weight: bold; 
	background-image: URL("../images/icon-2.gif"); 
	background-repeat: no-repeat; 
	background-position: 6px 4px; 
	padding: 4px 0px 0px 24px; 
	margin-top: 3px; 
	margin-bottom: 9px; 
}
.cur_path { color: #184F4F; font-family: Verdana; font-size: 9pt; font-weight: bold; padding-right: 13px; }
.cur_path a { color: #184F4F; font-size: 8pt; font-weight: normal; text-decoration: none; }
.cur_path a:hover { color: #FFFFFF; }
td.login { padding-left: 62px; }
.blank_bg2 { 
	padding: 12px 0px 0px; 
	background-image: URL("../images/cont_bg-2.gif"); 
	background-repeat: no-repeat; 
	background-position: bottom right; 
}

/* Table */
.table_1 { 
	font-size: 10pt; 
	font-family: Arial; 
	border-collapse: collapse; 
	border: #A3A3A3 1px solid; 
	
}
.table_1 td.title_line {
	color: #003366; 
	font-size: 9pt; 
	font-weight: bold; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	padding: 3px 3px 2px;
}
.table_1 tr.title_line td {
	color: #003366; 
	font-size: 9pt; 
	font-weight:normal; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	padding: 3px 3px 2px; 
}

.table_1 tr.head_line 
{
	 border-top-style:none;
	 border-right-style:none;
	 border-left-style:none;
	 border-top-width:0px;
	 border-left-width:0px;
	 border-right-width:0px;
	 background-color:White;
	 border-collapse:collapse;
}


.table_1 tr.hi_line td { 
	color: #333333; 
	background-color: #EEEEEE; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	padding: 6px 6px 4px; 
}
.table_1 td.hi_line { 
	color: #333333; 
	background-color: #EEEEEE; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	padding: 3px 3px 2px; 
}

.table_1 td { 
	color: #000000; 
	background-color: #FFFFFF; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	padding: 6px 6px 4px; 
}
.table_1 td table tr td { 
	border-width: 0px; 
}



/* Button */
.btn_mouse_out
{
   cursor: hand;
   font-size: 10pt;
   color: #FFFFFF;
   padding-top: 2px;
   padding-left: 6px;
   padding-right: 6px;
   height: 24px;
   text-align: center;
   border-collapse: collapse;
   border-top: 2px groove #FFFFFF;
   border-left: 2px groove #FFFFFF;
   border-right: 2px groove #999999;
   border-bottom: 2px groove #999999;
   background-color: #9999CC;
}
.btn_mouse_over
{
   cursor: hand;
   font-size: 10pt;
   color: #3C593C;
   padding-top: 2px;
   padding-left: 6px;
   padding-right: 6px;
   height: 24px;
   text-align: center;
   border-collapse: collapse;
   border-top: 2px groove #FFFFFF;
   border-left: 2px groove #FFFFFF;
   border-right: 2px groove #999999;
   border-bottom: 2px groove #999999;
   background-color: #FFE680;
}
.btn_mouse_down
{
   cursor: hand;
   font-size: 10pt;
   color: #FFFFFF;
   padding-top: 2px;
   padding-left: 6px;
   padding-right: 6px;
   height: 24px;
   text-align: center;
   border-collapse: collapse;
   border-top: 2px groove #999999;
   border-left: 2px groove #999999;
   border-right: 2px groove #FFFFFF;
   border-bottom: 2px groove #FFFFFF;
   background-color: #D5AA00;
}

/* imformation border table */
td.bd-lt {
	width: 10px; 
	height: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-lt.gif"); 
	background-repeat: no-repeat; 
	background-position: left top; 
}
td.bd-t {
	height: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-t.gif"); 
	background-repeat: repeat-x; 
}
td.bd-rt {
	width: 10px; 
	height: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-rt.gif"); 
	background-repeat: no-repeat; 
	background-position: right top; 
}
td.bd-l {
	width: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-l.gif"); 
	background-repeat: repeat-y; 
}
td.bd-m {
	background-color: #F6F6F6; 
	padding: 6px 6px 6px; 
}
td.bd-r {
	width: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-r.gif"); 
	background-repeat: repeat-y; 
}
td.bd-lb {
	width: 10px; 
	height: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-lb.gif"); 
	background-repeat: no-repeat; 
	background-position: left bottom; 
}
td.bd-b {
	height: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-b.gif"); 
	background-repeat: repeat-x; 
}
td.bd-rb {
	width: 10px; 
	height: 10px; 
	font-size: 2px; 
	background-image: URL("../images/border-rb.gif"); 
	background-repeat: no-repeat; 
	background-position: left bottom; 
}



.GVRow
{
	color:#ffffff;
	
	border-collapse: collapse; 
	border: #A3A3A3 1px solid; 	
}


.GV
 {
	font-size: 10pt; 
	color:#003366;	
	font-weight:normal; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
     margin-bottom:2px;
     margin-left:2px;
     margin-right:2px;
     margin-top:2px;
    letter-spacing:1px;
	 
 }
 
 .GV2_22222
 {
	font-size: 10pt; 
	color:#003366;	
	font-weight:normal; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	
	text-align:right;
	 
 }
 
 
 .Hi_GV
  { 
	font-size: 10pt; 
	background-color: #EEEEEE; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	padding: 6px 6px 4px; 
	display:inline;
}

.GVRowItem
{
	 
	
	font-size: 10pt; 
	
	letter-spacing:1px;
	
}

.Title1 
{
	font-weight:bold;
	 font-size:10pt;
	}
	
.Title2 
{
	font-weight:bold;
	 font-size:11pt;
	}
	
.CustomerData
{
	font-size:10pt;
}

.TableFontSize
{
	font-size:10pt;
}

.CheckListFontSize
{
	font-size:10pt;
}

.btn1_mouse_out
{
    BORDER-RIGHT: #999999 2px groove;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #ffffff 2px groove;
    PADDING-LEFT: 6px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #ffffff 2px groove;
    CURSOR: hand;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #999999 2px groove;
    BORDER-COLLAPSE: collapse;
    HEIGHT: 24px;
    BACKGROUND-COLOR: #80a9ff;
    TEXT-ALIGN: center
}

.GV2
 {
	font-size: 10pt; 
	color:#003366;	
	font-weight:normal; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	
	text-align:center;
	 
 }
 
  .GV3
 {
	font-size: 10pt; 
	color:#000000;	
	background-color: #D3D3D3; 
	border-width: 1px; 
	border-style: solid;
	border-color: #707070; 
	
	text-align:center;
	 
 }
 
 
   .GV4
 {
	font-size: 10pt; 
	color:#003333;	
	border-width: 1px; 
	border-style: solid;
	border-color: #707070; 
	
	text-align:left;
	 
 }
 
 
    .GV5
 {
	font-size: 10pt; 
	color:#003333;	
	border-width: 1px; 
	border-style: solid;
	border-color: #707070; 
	text-align:center;
	 
 }
 
    .GV6
 {
	font-size: 10pt; 
	color:#003333;	
	border-width: 1px; 
	border-style: solid;
	border-color: #707070; 
	display:inline;

	 
 }
 
 
 .GridHD
 {
	font-size: 10pt; 
	color:#003366;	
	font-weight:100;
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCCC; 
	display:inline;
	 
 }
 
 
 
  .GV212
 {
	font-size: 10pt; 
	color:#003366;	
	font-weight:normal; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color: #CCCCcc; 
	
	text-align:right;
	 
 }
 
   .GV213
 {
	font-size: 10pt; 
	color:#003366;	
	font-weight:normal; 
	background-color: #DCE1E9; 
	border-width: 1px; 
	border-style: solid;
	border-color:#CCCCcc; 
	
	text-align:left;
	 
 }
    .GV214
 {
 	
 	background-color: #2F4F4F; 
 }
 
 
 .ImageP
 {
  
   width:200px;   
     
 }